@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner {
    @apply appearance-none;
  }
}

@font-face {
  font-family: 'HvDTrial Brandon Grotesque';
  src: url('/fonts/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.woff2') format('woff2'),
    url('/fonts/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.woff') format('woff'),
    url('/fonts/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HvDTrial Brandon Grotesque';
  src: url('/fonts/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.woff2') format('woff2'),
    url('/fonts/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.woff') format('woff'),
    url('/fonts/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "HvDTrial Brandon Grotesque", sans-serif;
}

b {
  font-weight: 900;
}

body {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: #F2B9CA;
    margin-block: 0.3rem;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #DBEAFE;
    border-radius: 1rem;
  }
}

.max-Width {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: 480px) {
    padding: 0 1rem;
  }
}

.pagination,
.pagination_facilities {
  .swiper-pagination-bullet {
    background-color: #DBEAFE;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active {
    background-color: #F2B9CA;
    width: 1rem;
    height: 0.5rem;
    border-radius: 0.5rem;
  }
}

.pagination-dat {
  .swiper-pagination-bullet {
    background-color: #fff;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active {
    background-color: #F2B9CA;
    width: 1rem;
    height: 0.5rem;
    border-radius: 0.5rem;
  }
}


.img_hover {
  transition: 0.7s ease-in-out;

  // box-shadow: none;
  &:hover {
    transform: scale(0.98);
    // transition: 0.7s ease-in-out;
    box-shadow: 10px 10px #1C1C1Cbf;
  }
}

.position_img {
  background-position-x: 98.5%;
  background-position-y: 55%;

  // background-size: contain;
  @media screen and (max-width: 768px) {
    background-position-x: 50%;
    background-position-y: 50%;

  }
}